# Environment variables for frontend
REACT_APP_AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN.auth0.com
REACT_APP_AUTH0_CLIENT_ID=YOUR_CLIENT_ID
REACT_APP_AUTH0_AUDIENCE=YOUR_API_IDENTIFIER
REACT_APP_API_URL=http://localhost:8080/api
